.grid-container div {
    padding: 5px;
}

.grid-container div:nth-child(even){
    background: tomato;
}

.grid-container div:nth-child(odd){
    background: #dac;
}

.grid-container{
    display: grid;
    grid-template-columns: 50vw;
    justify-content: center;
    
}